body {
  margin: 0;
  background-color: #282c34;
  font-family: 'Raleway', sans-serif;

}

span>b, span>p>b {
  color: #f1c400;
}

input {
    margin-bottom: 10px;
    width: 200px;
    height: 35px;
    border-radius: 2px;
    box-shadow: none;
    text-align: center;
    font-size: 18px;
}

